<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>ReCo</title>

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link href="../static/css/index.css" rel="stylesheet" />
    <link rel="icon" href="../static/img/favicon.ico">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </head>
  <nav
    id="navbar-brand"
    nav
    class="navbar navbar-expand-lg navbar-dark bg-dark"
  >
    <a class="navbar-brand" href="/"
      ><img
        src="../static/img/logo.gif"
        width="160px"
        height="62px"
        class="d-inline-block align-top"
        alt="ブランド"
    /></a>
    <ul class="navbar-nav mr-auto">
      {% if not current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="/signup">新規登録</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">ログイン</a>
        </li>
      {% endif %}
      {% if current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="/logout">ログアウト</a>
        </li>
      {% endif %}
    </ul>
    <ul class="navbar-nav">
      {% if current_user.is_authenticated %}
        <li class="nav-item">
          Welcome {{ current_user.name }}
        </li>
      {% endif %}
    </ul>
  </nav>
