{% include 'header.html' %}
  <nav
    id="navbar-brand"
    nav
    class="navbar navbar-expand-lg navbar-dark bg-dark"
  >
    <a class="navbar-brand" href="/"
      ><img
        src="../static/img/logo.gif"
        width="160px"
        height="62px"
        class="d-inline-block align-top"
        alt="ブランド"
    /></a>
  </nav>
  <body>
    <form action="/login" method="POST">
      <input type="text" name="username" placeholder="username">
      <input type="password" name="password">
      <input type="submit" value="ログイン">
    </form>
  </body>
</html>
